# Shipped in the .vsix: out/ (bundled extension), server/ (bundled binary,
# placed by the release workflow), syntaxes/, language-configuration.json,
# README, LICENSE, and the icon.
.vscode/**
.vscode-test/**
src/**
out-test/**
tsconfig.json
tsconfig.test.json
**/*.map
**/*.ts
node_modules/**
